html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 100vh;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  transition: all .6s ease;
}
body {
  background-color: #e6e0eb;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1em;
  text-align: center;
  height: 100vh;
}
img {
  width: 100%;
  display: block;
}
.logo {
  margin: 1rem 0;
  flex-shrink: 0;
  display: flex;
  align-items: flex-end;
  color: #7a0ecc;
  font-size: 1.4rem;
}
.logo__image {
  margin-right: 1rem;
  width: 150px;
}
.all {
  max-height: 100vh;
  height: 100%;
  padding: 0 2rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrapper {
  border: 1rem solid #33243e;
  border-radius: 8px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  max-width: 1280px;
  width: 100%;
  max-height: 720px;
  height: 100%;
  overflow-y: scroll;
}
.mobile .wrapper {
  max-width: 360px;
  max-height: 640px;
}
.trapezoid {
  border-bottom: 30px solid #291d31;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-radius: 15px;
  height: 0;
  width: 250px;
}
.mobile .trapezoid {
  opacity: 0;
}
.menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-shrink: 0;
}
.menu__link {
  padding: .3rem .6rem;
  display: block;
  text-decoration: none;
  font-weight: bold;
  color: #33243e;
  opacity: .5;
  background-color: transparent;
  border-radius: 4px 4px 0 0;
}
.menu__link:hover {
  opacity: 1;
}
.menu__link--active {
  background-color: #33243e;
  color: #ffffff;
  opacity: 1;
}
.menu__link--mobile {
  display: none;
}
.mobile .menu__link--mobile {
  display: block;
}

.mobile-button {
  background-color: #7a0ecc;
  color: #e6e0eb;
  text-decoration: none;
  font-size: 1rem;
  display: block;
  padding: 0.2rem 0.6rem 0.4rem;
  border-radius: 4px;
  margin: 0 0 0 10px;
}
.mobile .mobile-button {
  background-color: #a29ba9;
}
